table {
    border-collapse: collapse;
    text-align: center;
    margin: 0px auto;
}

td,
th {
    border: 1px solid rgb(91, 196, 223);
    padding: 5px;
}

body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
    background-color: rgb(183, 230, 241);
}

.container {
    display: block;
    width: 450px;
    margin: 10px auto 100px;
    background-color: #c9f7fa;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    text-align: center;
}

.catageory {
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(91, 196, 223);
}

input,
select {
    border: 2px solid rgb(91, 196, 223);
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}

button {
    border: 2px solid rgb(91, 196, 223);
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}